//VARIAVEIS

$laranja: #f16522;
$preto:#040404;
$cinza-escuro:#606a70;
$cinza-claro:#7a7a7c;
$branco-claro:#fafafa;

$font: "Gotham",
sans-serif;
$poppins: 'Poppins',
sans-serif;

@mixin img__full__after($url) {
    &:after {
        content: '';
        @include bg-props-cover;
        @include size(100%);
        background-image: url($url);
        inset: 0;
        position: absolute;
        display: block;
        z-index: -1;
        
    }

}

// PROJETO ===================================================
// @import "./components/h1__centralizado";
@import "./components/como__funciona";
@import "./components/estilo__franquias";
@import "./utilities/img__full__after";


@mixin h1__centralizado($xl:40px, $md:26px) {
    font-family: $poppins;
    text-align: center;
    margin-bottom: 60px;
    font-size: $xl;
    position: relative;
    display: block;
    text-transform: uppercase;
    margin: 0 auto;

    @include d(s) {
        font-size: $md;
    }

    @include d(ss) {
        font-size: 22px;
    }

    span {
        position: relative;

        &:after {
            content: "";
            position: absolute;
            background: #e26d37;
            width: 0%;
            height: 3px;
            display: block;
            bottom: -3px;
            left: 0;
            transition: .4s cubic-bezier(0.39, 0.58, 0.57, 1);;
        }

    }


}


@mixin text-shadow {
    text-shadow: 0px 2px 5px rgb(0 0 0 / 50%)
}

@mixin texto__foto($color:white) {
    color: $color;
    @include text-shadow;
    font-size: clamp(32px, 4vw, 52px);
    font-weight: 600;
}

@mixin botao($bg:$laranja, $color:white) {
    border-radius: 30px;
    padding: 8px 15px;
    text-align: center;
    display: inline-flex;
    background-color: $bg;
    color: $color;
    cursor: pointer;
    transition: 0.3s ease;
    position: relative;
    overflow: hidden;
    font-weight: 400;
    font-family: $poppins;

    &:hover {
        background-color: #d64400;
    }

    @include d(s) {
        font-size: 14px;
    }

}

// @mixin botao($bg:$laranja, $color:white) {
//     border-radius: 30px;
//     padding: 8px 0;
//     text-align: center;
//     display: inline-flex;
//     // background-color: $bg;
//     color: $preto;
//     cursor: pointer;
//     transition: 0.3s ease;
//     font-weight: 500;
//     position: relative;
//     // overflow: hidden;
//     background-color: transparent;

//     &:after {
//         content: '';
//         display: block;
//         width: 0;
//         position: absolute;
//         height: 2px;
//         background: $laranja;
//         left: 0px;
//         -webkit-transition: .3s;
//         transition: .3s;
//         bottom: 0px;
//     }

//     &:hover {

//         &:after {
//             width: 100%;
//         }


//     }
// }


@mixin sombra {
    box-shadow: 0 30px 30px -40px rgb(0 0 0 / 64%);
}

// ===================================================

//background
@mixin bg-props-contain {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

@mixin bg-props-cover {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

// Sizing
// ------
@mixin size($width, $height: $width) {
    width: $width;
    height: $height;
}

// Normal & hover state
// --------------------
@mixin hoverer($property, $normal, $hovered) {

    transition: 0.4s ease;

    #{$property}: $normal;

    &:hover {
        #{$property}: $hovered;
    }
}


@mixin data__logo {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    padding: 5px 10px;

    img {
        width: 130px;
    }
}

.d-flex {
    display: flex
}