@import "../sass/utilities/fonts"; //Fonts
@import "../sass/variaves__mixins"; //VARIAVEIS E MIXINS
@import "bootstrap__imports"; //BOOTSTRAP

// UTILITIES
@import "../sass/utilities/geral"; //utilitarios
@import "../sass/utilities/responsivo"; //  RESPONSIVO

@import "../sass/utilities/reset"; // reset
@import "../sass/utilities/animation"; // animation
@import "../sass/utilities/assets__helper";

@import "../sass/utilities/reset"; // Reset
@import "../sass/utilities/animation"; // Animation
@import "../sass/utilities/assets__helper"; // Assets Helper


//COMPONENTS GERAIS
@import "../sass/components/menu";
@import "../sass/components/footer";
@import "../sass/components/animacao__geral";

body {
  overflow-x: hidden;
  font-family: $font;
  @include scrollbars(8px, rgb(160, 160, 160));
  opacity: 0;
  transition: opacity .3s ease;
}
body.dcl{
  opacity: 1;
}

.container {
  max-width: 1280px;
}

.body__home {
  @import "../sass/pages/page__home";
}

.body__empresa {
  @import "../sass/pages/page__empresa";
}

.body__franquias {
  @import "../sass/pages/page__franquias";
}

.body__representantes {
  @import "../sass/pages/page__representantes";
}

.body__contato {
  @import "../sass/pages/page__contato";
}

.body__orcamento {
  @import "../sass/pages/page__produto-residencial";
  @import "../sass/pages/page__orcamento";
  //pega mesmo estilo de residencial ☝🏽

}

// produtos ===
.body__produto-solar {
  @import "../sass/pages/page__produto-solar";
}

.body__produto-assistencia {
  @import "../sass/pages/page__produto-assistencia";
}

.body__produto-residencial {
  @import "../sass/pages/page__produto-residencial";

}

.body__produto-corporativo {
  @import "../sass/pages/page__produto-residencial";
  //pega mesmo estilo de residencial ☝🏽

}