

& {
    font-family: $poppins;
    text-align: center;
    margin-bottom: 60px;
    font-size: 40px;
    position: relative;
    display: inline-flex;
    width: max-content;
    text-transform: uppercase;

    @include d(s) {
        zoom: .9;
    }

    &:after {
        content: "";
        position: absolute;
        background: #e26d37;
        width: 130px;
        height: 3px;
        display: block;
        bottom: -5px;
        left: 0;
        // box-shadow:
        //     linha-box-shadow(2, 2, 0, white),
        //     linha-box-shadow(3, 5, 0, $laranja),
        //     linha-box-shadow(8, 8, 0, white),
        //     linha-box-shadow(9, 11, 0, $laranja);

    }
}