.text__container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 {
        @include h1__centralizado;
        margin-bottom: 40px;

        span {
            &:after {
                bottom: -2px;

                @include d(m) {
                    bottom: 2px;

                }
            }
        }
    }

    p {
        text-align: center;
        padding-bottom: 60px;
        font-size: clamp(16px, 1.6vw, 22px)
        font-family: $poppins;

    }
}

&__wrapper {

    .img__container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: baseline;


        img{
            display: block;
            margin: 0 auto;
            width: 360px;
    
            @include d(m) {
                padding-bottom: 60px;
            }
        }
    }

    .botao {
        display: flex;
        justify-content: center;
        padding-top: 60px;

        a {
            @include botao;
        }

        @include d(m) {
            padding-top: 0;
        }
    
        @include d(s) {
            padding-top: 40px;
        }
    }
}