// alterações do menu home
.menu {
    background: transparent;
    position: absolute;

    a:not(a.menu__btn) {
        color: white;
        letter-spacing: .5px;
    }

    #dropdown__content {
        background: white;

        a {
            color: black;
            font-weight: 500;

        }
    }
}



&.ativo__scroll {
    .menu {
        background: white !important;

        a:not(a.menu__btn) {
            color: $preto;

            strong {
                font-weight: 400;
            }
        }

        #dropdown__content {
            background: white;

            a {
                color: $preto;
                font-weight: 400;
                text-shadow: initial;
            }
        }
    }
}

// intro
.intro {
    height: 100vh;
    width: 100%;
    position: relative;

    &:before {
        @include bg-props-cover;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("../img/intro-home.jpg");
        filter: brightness(.9);
        z-index: -1;

        @include d(s) {
            background-image: url("../img/intro-home-mobile.jpg");


        }
    }

    &__wrapper {
        @include size(100%);
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }

    &__text {
        color: white;

        h1,
        p {
            max-width: 570px;

            @include text-shadow;

            strong {
                font-weight: 600;
            }
        }

        h1 {
            font-size: clamp(32px, 3vw, 48px);
            font-weight: 700;
            line-height: 140%;

        }

        p {
            margin-top: 40px;
            font-size: 20px;
            line-height: 180%;
            font-weight: 500;
            font-family: $poppins;
            letter-spacing: .5px;

            @include d(m) {
                font-size: 16px;
            }

        }

    }
}


.residenciais {
    @import "../components/full__projetos";

    .img__container {
        @include img__full__after("../img/residenciais.jpg");
    }
}

.corporativos {
    @import "../components/full__projetos";

    .img__container {
        @include img__full__after("../img/corporativos.jpg");
    }

    .img__container {
        order: 2;

        @include d(s) {
            order: initial;

        }
    }

    .titulo__principal {
        height: 80%;
    }

}

.fazenda {
    @import "../components/full__projetos";

    .img__container {
        @include img__full__after("../img/fazenda.jpg");
    }
}

.eficiencia {
    @import "../components/full__projetos";

    .img__container {
        @include img__full__after("../img/assistencia.jpg");
    }

    .img__container {
        order: 2;

        @include d(s) {
            order: initial;

        }
    }



    // .titulo__principal {
    //     height: 100%;
    //     display: flex;
    //     align-items: center;
    //     align-items: flex-end;
    //     padding-bottom: 200px;
    //     justify-content: flex-end;
    // }
}


// animation
@keyframes titulosSobem {
    0% {
        transform: translateY(180px);
        opacity: .2;
    }

    100% {
        transform: translateY(0);
        opacity: 1;

    }
}


#fullpage {
    will-change: transform;
}

.section {
    h1 {
        opacity: 1;
        transition: transform .5s ease 1s;
        transform: translateY(0);
        will-change: transform;

    }

    .animate__p {
        opacity: 1;
        transition: transform .5s ease 1s;
        transform: translateY(0);
        will-change: transform;
    }
}

.section.active {

    h1,
    .animate__p {
        animation: titulosSobem 1s ease both;

    }

}

&:not(.fp-viewing-0) {
    .menu {
        opacity: 0 !important;
    }

}

&.fp-viewing-5 {
    .menu {
        opacity: 1 !important;
        background: white !important;

        a:not(a.menu__btn) {
            color: $preto;

            strong {
                font-weight: 400;
            }
        }
    }


}

&.no__animation .menu {
    opacity: 1 !important;
    position: fixed !important;
}


.img__container {

    @include d(s) {
        &:after {
            background-attachment: fixed !important;
            filter: brightness(.4) /* blur(10) */;
        }
    }

}