.menu {
    background: transparent;

    #dropdown__content {
        background: white;

        a {
            color: $preto;
            font-weight: 400;
            text-shadow: initial;
            font-family: $poppins;
        }
    }
}

.menu__desktop {


    .menu__links a:not(a.menu__btn) {
        color: white;
        letter-spacing: .5px;
        font-size: 18px;


        strong {
            font-weight: 500;

        }
    }

    .menu__links a:not(a.menu__btn, .atalhos a) {
        text-shadow: 0px 2px 5px rgb(0 0 0 / 30%);
    }
}

&.ativo__scroll {
    .menu {
        background: white !important;

        .menu__links>li a:not(a.menu__btn) {
            text-shadow: initial !important;
            color: $preto !important;

        }
    }
}

.container {
    max-width: 1280px;
}

.representantes {
    height: 100vh;
    min-height: 650px;
    width: 100%;
    position: relative;

    .container {
        @include d(s) {
            padding: 0;
        }
    }

    @include d(m) {
        height: 100%;
        padding-top: 150px;
        padding-bottom: 80px;
    }

    &__contact {
        @include d(m) {
            max-width: 450px;
        }
    }

    &:before {
        @include bg-props-cover;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("../img/franquias-hero.jpg");
        filter: brightness(.4); // COMM Menos brilho
        z-index: -1;

        @include d(s) {
            background-image: url("../img/franquias-hero.jpg");
        }
    }

    &__wrapper {
        height: 100vh;
        min-height: 650px;
        display: flex;
        align-items: center;
        @include d(m) {
            height: 100%;
            flex-direction: column;
        }
    }
    &__text {
        color: white;

        & .subtitulo {
            margin: 20px 0;
        }

        @include d(m) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        @include d(s) {
            padding: 0 15px;
        }

        h1,
        p {
            max-width: 570px;

            @include text-shadow;

            @include d(m) {
                text-align: center;
                padding-left: 20px;
                padding-right: 20px;
            }

            strong {
                font-weight: 600;   
            }
        }
    }
    h1 {
        font-family: $poppins;
        font-size: clamp(24px, 2.5vw, 36px);  // COMM Alterei os valores para parecer mais com o modelo
        font-weight: 600; // COMM Aqui também, 700 pareceu muito
        line-height: 140%;
    }

    p {
        font-size:  clamp(14px, 1.2vw, 18px);
        line-height: 180%;
        font-weight: 500;
        font-family: $poppins;
        letter-spacing: .5px;

        @include d(m) {
            line-height: 140%;
            margin: 10px 0;
        }
    }

    @import "../components/contact";

}

.vantagens {
    padding: 60px 0;

    .text__container {
        width: 100%;
        display: flex;
        justify-content: center;
    
        h1 {
            @include h1__centralizado();

            span {
                &:after {
                    bottom: -2px;
    
                    @include d(m) {
                        bottom: 2px;
    
                    }
                }
            }

            @include d(s) {
                padding-bottom: 40px;
            }
        }
    }

    &__wrapper {
        width: 100%;
        padding: 60px 0;

        &-row {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;

            .vantagens__item{
                img{
                    max-height: 150px;
                    padding: 10px 0;
                    display: block;
                    margin: 0 auto;
                    object-fit: contain;

                    @include d(m) {
                        max-height: 120px;
                    }

                    @include d(s) {
                        max-height: 80px;
                        padding: 0;
                    }
                }
                p {
                    padding-top: 20px;
                    font-family: $poppins;
                    font-weight: 500;

                    @include d(s) {
                        padding: 0 0 20px 0;
                    }
                }

                @include d(m) {
                    flex: 0 0 50%;
                    max-width: 50%;
                }

                @include d(s) {
                    flex: 0 0 100%;
                    max-width: 100%;
                }
            }
        }

        @include d (s) {
            padding: 0;
        }

        .btn__container a {
            margin-top: 60px;
            @include botao;
        }

    }

}

.passos {
    padding-top: 80px;
    background: $branco-claro;
    padding-bottom: 60px;

    @include d(s) {
        margin-top: 40px;
    }

    @import "../components/passos";

    &__item > span{
        position: relative;
        bottom: -25px;
        right: -25px;

    }

}

.materias {
    padding: 80px 0;

    @import "../components/materias";
}


.quebra {
    @import "../components/quebra";

    span {
        background-image: url("../img/intro-home.jpg");

    }
}