.menu {
    background: white !important;

    a:not(a.menu__btn) {
        color: $preto;

        strong {
            font-weight: 400;
        }
    }

    #dropdown__content {
        background: white;

        a {
            color: $preto;
            font-weight: 400;
            text-shadow: initial;
        }
    }
}

.eficiencia {
    @import "../components/full__projetos";
    margin-top: 100px;

    .img__container {
        order: 2;

        @include d(m) {
            order: initial;
            height: 200px;
        }
    }

}

.monitoramento {
    padding: 60px 0;
    background: $branco-claro;

    h1 {
        @include h1__centralizado;

    }

    p {
        font-family: $poppins;
        text-align: center;
        font-size: clamp(14px, 1vw, 16px);
        display: block;
        margin: 0 auto;
        margin-top: 20px;
        font-weight: 500;

        span {
            font-weight: 700;
            font-size: clamp(20px, 2vw, 24px);
            font-family: $font;
            display: grid;
            margin-bottom: 15px;
        }
    }

    &__wrapper {
        display: flex;
        justify-content: center;
        gap: 20px;
        margin-top: 40px;

        img {
            width: 30%;
            max-height: 400px;
            object-fit: contain;

            @include d(m) {
                width: 46%;
            }

        }
    }
}

.checkup {
    padding: 60px 0;

    h1 {
        @include h1__centralizado;
        margin-bottom: 40px;
    }

    .container {
        >p {
            font-family: $poppins;
            max-width: 550px;
            margin: 0 auto;
            display: block;
            line-height: 160%;
            font-weight: 500;
            text-align: center;

            @include d(s) {
                font-size: 14px;
            }
        }
    }

    &__wrapper {
        display: flex;
        justify-content: center;
        margin-top: 60px;
        flex-wrap: wrap;

        @include d(m) {
            flex-wrap: wrap;
            margin-top: 10px;
            flex-direction: column;
            align-items: center;
        }

    }

    &__item {
        width: 25%;
        display: flex;
        flex-direction: column;
        min-width: 260px;

        @include d(m) {
            gap: 20px;
            justify-content: center;
        }

        img {
            object-fit: contain;
            @include size(100px);
            align-self: flex-end;
            margin: 0 auto;
            margin-top: 80px;

            @include d(m) {
                order: -1;
                margin: 0px auto !important;
                margin-top: 35px !important;
                margin-bottom: -20px !important;
            }


        }

        .item__text {
            display: flex;
            align-items: center;

            span {
                padding: 10px;
                border: 1px solid $laranja;
                border-radius: 50%;
                min-width: 40px !important;
                min-height: 40px !important;
                display: inline-grid;
                margin-right: 10px;
                text-align: center;
                place-items: center;
                font-weight: 700;
                position: relative;

                &:after {
                    content: '';
                    display: block;
                    @include bg-props-contain;
                    height: 120px;
                    width: 100%;
                    background-image: url("../img/ornamento.png");
                    position: absolute;
                    bottom: -130px;
                    left: 18px;

                    @include d(m) {
                        display: none;
                    }
                }
            }


        }


    }

    .checkup__item:nth-child(1) {
        span {
            &:after {
                bottom: -135px;

            }
        }
    }

    .checkup__item:nth-child(2) {
        img {
            margin-top: 110px;
        }

        span {
            &:after {
                height: 180px;
                bottom: -180px;
                width: 110%;

            }
        }
    }

    .checkup__item:nth-child(3) {
        img {
            margin-top: 160px;
        }

        span {
            &:after {
                height: 220px;
                bottom: -220px;
                width: 140%;

            }
        }
    }

    .checkup__item:nth-child(4) {
        img {
            margin-top: 170px;
        }

        span {
            &:after {
                height: 260px;
                bottom: -250px;
                width: 150%;

            }
        }
    }

    .btn__container {
        display: flex;
        justify-content: center;

        a {
            @include botao;
        }
    }
}

.selo {

    @import "../components/full__projetos";

    img {
        filter: brightness(1) !important;

    }

    &__img {
        max-width: 80px;
        margin: 0 auto;
        margin-top: 80px;
        object-fit: contain;
    }

}

#quebra {
    @import "../components/quebra";

}


//animation
.js__scroll {
    h1 {
        transform: $translateY;
        opacity: 0;
    }

    &.monitoramento {
        p {
            transform: $translateY;
            opacity: 0;
        }
    }

    &.checkup {
        .container {
            >p {
                transform: $translateY;
                opacity: 0;
            }
        }
    }

}


.js__scroll.animate {
    h1 {
        animation: posicao0 1s ease both;

        span {

            &:after {
                transition-delay: .5s !important;
            }

        }

    }

    &.monitoramento {
        p {
            animation: posicao0 1s ease both .2s;

        }
    }
    &.checkup {
        .container {
            >p {
                animation: posicao0 1s ease both .2s;

            }
        }
    }

}